!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='/css/normalize.css')
      link(rel='stylesheet', href='/css/960.css')
      link(rel='stylesheet', href='/css/fbg.css')
      link(rel='stylesheet', href='/css/main.css')
      script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js')
      script(type='text/javascript', src='/js/galleria-1.2.8.min.js')
      script
        $(function() {
          if ($(".gallery").length) {
            Galleria.loadTheme('/js/galleria.classic.min.js');
            Galleria.configure({
              imageCrop: 'width',
            });
            $(".gallery").each(function(i,e) {
              Galleria.run('#'+e.id);
            });
          }
        });
  body
    .container_12
      header
        .grid_4
          img(src='/images/raspberry_184px.jpg', width='215px', height='184px')
        .grid_7.suffix_1
          img(src='/images/adventures_in_the_world_of_the_raspberry_pi.png', style='float: right; margin-top: 161px;')
        .clear
        .grid_12(style='position: relative')
          img#head-sep(src='/images/sep.png')
          - var posts = _.chain(contents.articles._.directories).map(function(item) {
          -   return item.index
          - }).compact().sortBy(function(item) {
          -   return -item.date
          - }).value();
          - var post_max = posts.length - 1;
          - var post_index = 0;
          - for (post_index = 0; post_index <= post_max; post_index++) {
          -   if (posts[post_index].url == page.url) {
          -     break;
          -   }
          - }
          - var post_first_url = posts[post_max].url;
          - var post_prev_url = post_index < post_max ? posts[post_index+1].url : '#';
          - var post_next_url = post_index > 0 ? posts[post_index-1].url : '#';
          - var post_last_url = posts[0].url;
          #nav(style='position: absolute; right: 30px')
            a(href='#{post_first_url}'): img(src='/images/nav-first.png', height='16')
            a(href='#{post_prev_url}'): img(src='/images/nav-prev.png', height='16')
            a(href='/archive.html'): img(src='/images/nav-list.png', height='16')
            a(href='#{post_next_url}'): img(src='/images/nav-next.png', height='16')
            a(href='#{post_last_url}'): img(src='/images/nav-last.png', height='16')
        .clear
      div#content
        block content
          h2 Welcome to zombocom!
      footer
        div.inner
          block footer
            p &nbsp;
